{% extends 'app_general/components/base.html' %}
{% load static %}

{% block site_title %}
  About |
{% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container">
    <h2 class="content-title">What about this project</h2>

      <h4>Camera IOT</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ad, dolor 
      ab deleniti quam impedit, asperiores suscipit quas vero illo amet tempora 
      adipisci nulla quae, maiores dolores possimus architecto iste.</p>

      <h4>Websocket/MQTT on Raspery Pi</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ad, dolor 
      ab deleniti quam impedit, asperiores suscipit quas vero illo amet tempora 
      adipisci nulla quae, maiores dolores possimus architecto iste.</p>

      <h4>Web application on cloud</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ad, dolor 
      ab deleniti quam impedit, asperiores suscipit quas vero illo amet tempora 
      adipisci nulla quae, maiores dolores possimus architecto iste.</p>

      <h4>Camera IOT</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ad, dolor 
      ab deleniti quam impedit, asperiores suscipit quas vero illo amet tempora 
      adipisci nulla quae, maiores dolores possimus architecto iste.</p>

      <h4>Websocket/MQTT on Raspery Pi</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ad, dolor 
      ab deleniti quam impedit, asperiores suscipit quas vero illo amet tempora 
      adipisci nulla quae, maiores dolores possimus architecto iste.</p>

      <h4>Web application on cloud</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ad, dolor 
      ab deleniti quam impedit, asperiores suscipit quas vero illo amet tempora 
      adipisci nulla quae, maiores dolores possimus architecto iste.</p>
      
      
          
  </div>
</section>
{% endblock %}
