{% extends 'app_general/components/base.html' %}

{% block site_title %}
Change password |
{% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container content-container-narrow">
    <h2 class="content-title">Change password</h2>
    <div style=" margin: auto;">
      <form action="{% url 'password_change' %}" method="post">
        {% csrf_token %}
        
        <!-- แสดงข้อผิดพลาดทั่วไปของฟอร์ม -->
        {{ form.non_field_errors }}
      
        <!-- แสดงฟิลด์และข้อผิดพลาดของแต่ละฟิลด์ -->
        <div class="form-field">
          <label for="{{ form.old_password.id_for_label }}">Old password:</label>
          {{ form.old_password }}
          {{ form.old_password.errors }}
        </div>
      
        <div class="form-field">
          <label for="{{ form.new_password1.id_for_label }}">New password:</label>
          <div style = "margin-bottom: 20px;">
            {{ form.new_password1 }}
          {{ form.new_password1.errors }}
          </div>
          <ul class="password-requirements">
            <li> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>Can't be too similar to your other personal information.</li>
            <li> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>Must contain at least 8 characters.</li>
            <li> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>Can't be a commonly used password.</li>
            <li> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>Can't be entirely numeric.</li>
          </ul>
        </div>
      
        <div class="form-field">
          <label for="{{ form.new_password2.id_for_label }}">New password confirmation:</label>
          {{ form.new_password2 }}
          {{ form.new_password2.errors }}
        </div>
      
        <div class="form-field">
          <button class="button button-login" type="submit">Save</button>
        </div>
      </form>
    </div>

  </div>
</section>
<style>
    /* สไตล์สำหรับข้อความแนะนำการตั้งรหัสผ่าน */
    .password-requirements {
    color: #AF4834; /* สีเทา */
    padding-left: 0;
    font-size: 0.9em;
    max-width: 80%;
    margin: auto;
    list-style: none;
  }
  i{
    margin-right: 5px;
  }
</style>
{% endblock %}

