{% extends 'app_general/components/base.html' %}

{% block site_title %}
Password reset|
{% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container content-container-narrow">
    
    {% if validlink %}
      <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <p>
            <span><button class="button button-primary" type="submit">Save password</button></span>
          </p>
      </form>
    {% else %}
      <h3 class="content-title">Invalid link</h3>
      <p>The link may have expired or was previously used.</p>
      <p><a class="button button-primary" href="{% url 'home' %}">Home</a></p>
    {% endif %}

    

        

  </div>
</section>
{% endblock %}
