{% extends 'app_general/components/base.html' %}

{% block site_title %}
Successfully set a new password|
{% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container content-container-narrow">
    <h2 class="content-title">Successfully set a new password</h2>
    <p>You can now log in with your new password.</p>
    <a class="button button-primary" href="{% url 'login' %}">Log in</a>
  </div>
</section>
{% endblock %}