{% extends 'app_general/components/base.html' %}

{% block site_title %}
Password reset |
{% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container content-container-narrow">
    <h1 class="text-center text-logo-elevview">ELEVVIEW</h1>
    <p class="content-title" style="font-size: 24px; color: #333333; font-weight: 400;">Forgotten your password?</p>
    <div style="max-width: 70%; margin: auto;">
      <p class="content-title" style="margin-top: -25px; font-size: 16px; color: #44484F;">Enter your email address below, and we’ll email instructions for setting a new one.</p>
    </div>
    
    <!-- แสดงข้อผิดพลาด -->
    {% if form.errors %}
      <div class="error-message">
        <p>ชื่อผู้ใช้หรือรหัสผ่านไม่ถูกต้อง</p>
      </div>
    {% endif %}

    <!-- ฟอร์มล็อกอิน -->
    <div class="form-field">
      <form action="{% url 'password_reset' %}" method="post">
        {% csrf_token %}
        
        <!-- แก้ไขฟิลด์ email -->
        <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
        
        <button class="button button-login" type="submit">Send email & Reset your password</button>
      </form>
    </div>
   
    

    

        

  </div>
</section>
{% endblock %}
