{% extends 'app_general/components/base.html' %}

{% block site_title %}
Change password |
{% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container content-container-narrow">
    <h2 class="content-title">Hi {{ user.username }}</h2>
    <p>
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'password_change' %}">Change password</a>
    </p>
    <h5>Change password</h5>
    <form action="{% url 'password_change' %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
      
        {{ form.as_p }}
      

      <div class="form-field">
        <button class="button button-primary" type="submit">Save</button>
      </div>

      
    </form>

  </div>
</section>
{% endblock %}