{% extends 'app_general/components/base.html' %}

{% block site_title %}
Password reset sent|
{% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container content-container-narrow">
    <h2 class="content-title">Password reset sent done</h2>
    <p>Please check your email and set a new password.</p>
    <p>Please complete the process within 5 minutes.</p>
    <a class="button button-primary" href="{% url 'login' %}">Log in</a>

  </div>
</section>
{% endblock %}
