{% extends 'app_general/components/base.html' %}

{% block site_title %}
Password reset|
{% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container content-container-narrow">
  <h1 class="text-center text-logo-elevview">ELEVVIEW</h1>
    
    {% if validlink %}
      <form method="post" style="max-width: 70%; margin: auto;">
          {% csrf_token %}
          {{ form.as_p }}
          <p>
            <span><button class="button button-login" type="submit">Save password</button></span>
          </p>
      </form>
    {% else %}
      <p class="content-title" style="font-size: 24px; color: #333333; font-weight: 400;">Invalid link</p>
      <div style="max-width: 70%; margin: auto;">
        <p class="content-title" style="margin-top: -25px; font-size: 18px; color: #44484F;">The link may have expired or was previously used.</p>
      </div>
      
      <button class="button button-login"><a style="text-decoration: none; color: white;" href="{% url 'home' %}">Home</a></button>
    {% endif %}

  </div>
</section>
{% endblock %}
