{% extends 'app_general/components/base.html' %}

{% block site_title %}
  Profile | 
{% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container content-container-narrow">
    
    <div>
      {% if is_new_profile %}
        <h1 class="text-center text-logo-elevview">ELEVVIEW</h1>
        <p class="content-title" style="font-size: 20px; color: #44484F; max-width: 70%; margin: auto;">
          Welcome, {{ user.username }}! Let's complete your profile.
        </p>
      {% endif %}
    </div>

    {% if not is_new_profile %}
      <h2 class="content-title">Profile of {{ user.username }}.</h2>
    {% endif %}

    <div style="margin-top: 25px;">
      <form action="{% url 'profile' %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form-field">
          {{ form.first_name }}
          {{ form.first_name.errors }}
        </div>
        <div class="form-field">
          {{ form.last_name }}
          {{ form.last_name.errors }}
        </div>
        <div class="form-field">
          {{ extended_form.ages }}
          {{ extended_form.ages.errors }}
        </div>
        <div class="form-field">
          {{ extended_form.nationality }}
          {{ extended_form.nationality.errors }}
        </div>

        <button class="button button-login" type="submit">
          {% if is_new_profile %}Let's Start{% else %}Save{% endif %}
        </button>
      </form>
    </div>
  </div>
</section>
{% endblock %}
