{% extends 'app_general/components/base.html' %}
{% load static %}

{% block site_title %}
  Team service |
{% endblock %}

{% block content %}
<section style="max-width: 80%; margin: auto;">
  <div style="text-align: left;">
    <h2 >ELEVIEW Terms of Service</h2>

      <p>Effective Date: 14-2-2025</p>

      <p>Welcome to Elevview! By using our web application, you agree to these Terms of Service. Please read them carefully.</p>

      <h4>Acceptance of Terms</h4>

      <p>By accessing or using our web application, you agree to comply with these terms. If you do not agree, please do not use the service.</p>

      <h4>User Responsibilities</h4>
      <p style="margin-bottom: -12px;">You agree not to:</p>
      <p><ul>
        <li>Use the application for unlawful purposes.</li>
        <li>Submit false or misleading information.</li>
        <li>Attempt to access or interfere with other users' data.</li>
      </ul></p>
      
      
          
  </div>
</section>

<style>
    h2{
        font-size: 22px;
        font-weight: bold;
        margin-top: 12px;
       
    }
    h4{
        font-size: 18px;
        font-weight: bold;
       
    }

    p,li{
        font-size: 12px;
    }
</style>
{% endblock %}
